 

  <form style="width: 50%;"  
  
  name="form" (ngSubmit)=" f.form.valid && addMemeber()" #f="ngForm" novalidate  >
    <div class="row">

      <div class="col">
        <label for="nom">First name:</label>
        <input type="text" class="form-control" placeholder="First name" 
        [(ngModel)]="newMember.firstname" [ngModelOptions]="{standalone: true}" required
        #firstname="ngModel">


        <div style="color: red;" class="alert-danger" *ngIf="firstname.errors && f.submitted">
          <div *ngIf="firstname.errors?.['required']">firstname is required</div>
        </div>


      </div>



      <div class="col">
        <label for="prenom">Last name:</label>
        <input type="text" class="form-control" placeholder="Last name"
        [(ngModel)]="newMember.lastname" [ngModelOptions]="{standalone: true}" required
        #lastname="ngModel">

        <div style="color: red;" class="alert-danger" *ngIf="lastname.errors && f.submitted">
          <div *ngIf="lastname.errors?.['required']">lastname is required</div>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="prenom">Phone Number:</label>
        <input type="text" class="form-control" placeholder="Phone Number"
        [(ngModel)]="newMember.phone" [ngModelOptions]="{standalone: true}" required
        #phone="ngModel">

        <div style="color: red;" class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors?.['required']">phone is required</div>
        </div>


      </div>


      <div class="col">
        <label for="prenom">Email:</label>
        <input type="text" class="form-control" placeholder="imageUrl"
        [(ngModel)]="newMember.email" [ngModelOptions]="{standalone: true}" required
        #email="ngModel">

        <div style="color: red;" class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors?.['required']">email is required</div>
        </div>


      </div>



      
    </div>

    <div class="row">

   
     

      <div class="col">
        <label for="prenom">imageUrl:</label>
        <input type="text" class="form-control" placeholder="imageUrl"
        [(ngModel)]="newMember.imageUrl" [ngModelOptions]="{standalone: true}" required
        #imageUrl="ngModel">

        <div style="color: red;" class="alert-danger" *ngIf="imageUrl.errors && f.submitted">
          <div *ngIf="imageUrl.errors?.['required']">imageUrl is required</div>
        </div>


      </div>

      <div class="col">
        <label for="prenom">Role:</label>
        <!-- <input type="text" class="form-control" placeholder="Role"
        [(ngModel)]="newMember.role" [ngModelOptions]="{standalone: true}" required
        #role="ngModel"> -->

     


        <select class="form-control"  
        [(ngModel)]="newMember.role" [ngModelOptions]="{standalone: true}" required
        #role="ngModel">
            <option selected>select role</option>
            <option>Prisedent</option>
            <option>Secretaire gn</option>
            <option>Marketing</option>
            <option>Finances</option>
            <option>Responsable iot </option>
            <option>Responsable dev </option>
            <option>Member actif</option>
            <option>Member</option>

        </select>

        <div style="color: red;" class="alert-danger" *ngIf="role.errors && f.submitted">
          <div *ngIf="role.errors?.['required']">role is required</div>
        </div>

      </div>
    
    </div>

   <br>
    <button style="margin-left: 40%;"  type="submit" class="btn btn-info">Ajouter Member</button>
  </form>
   
  
  
  
 

 
 








  <div class="tab">
 
 
    <table class="table table-bordered">
     <thead class="table-secondary">
       <tr>
         <th scope="col">#</th>
         <th scope="col">Image</th>
         <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Phone</th>
         <th scope="col">Email</th>
         <th scope="col">Role</th>
        
         <th scope="col">action</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let member of members; let i = index">
         <th scope="row">{{ i + 1 }}</th>
         <td> <img [src]="member.imageUrl" width="55px" height="50px"  > </td>
         <td style="color: red;"> {{ member.firstname }}</td>
         <td> {{ member.lastname }}</td>
         <td style="color: red;"> {{ member.phone }}</td>
         <td> {{ member.email }}</td>
         <td style="color: red;"> {{ member.role }}</td>
         <td> 
        
         <button [routerLink]="['/member', member.id]" type="button" class="btn btn-info">detail</button> 
         &nbsp; 
     
          <button  (click)="deleteMemeber(member.id)" type="button" class="btn btn-danger">delete</button>   
         </td>
        </tr>
        
     </tbody>
   </table>
  
  </div>
  
 